Document_Logging_Consumption_V2_SubModuleDB1/src/main/mule/choicedbfirst.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="04e72544-bb6b-41b1-820c-42dbbc7ae4a0" >
		<db:mssql-connection host="dbs-poc-euw-mspoc002.database.windows.net" user="mspoc002" databaseName="db_poc_euw_mspoc003" password="qInmyp7h"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="329b332a-8dfd-4571-b1c7-768d9a7f9236" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="InsertFirstAccount" doc:id="626d2bb3-d785-4cec-b7b5-36fa65eb7837" >
		<http:listener doc:name="Listener" doc:id="0599a136-4949-4739-858c-0dc51cd816d3" config-ref="HTTP_Listener_config" path="/first/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="e7ecfef3-cebc-421a-af03-f937ff6c8528" message="In ChoiceDBSecond--InsertFirstAccount---LoggerBeforeTransformation-------#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="0afd9bde-5a76-4be2-b4ce-90ac4b9bc88a" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	companyCode: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.companyCode,
	guid: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.guid,
	date: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.date,
	stage: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.stage,
	finalStage: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.finalStage,
	letterID: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.letterID,
	capitaLetterID: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.capitaLetterID,
	policyNumber: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.policyNumber,
	customerName: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.customerName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="ca5e3621-8869-4306-8f19-2d296337d738" message="In ChoiceDBFirst--InsertFirstAccount---LoggerBeforeDatabase-------#[payload]"/>
		<db:insert doc:name="Insert" doc:id="8b92a0d8-e363-4406-adf6-333eb4bece46" config-ref="Database_Config">
			<db:sql >INSERT INTO doctb
VALUES (:companyCode,:guid,:date,:stage,:finalStage,:letterID,:capitaLetterID,:policyNumber,:customerName)</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	'companyCode': payload.companyCode[0],
	'date': payload.date[0],
	'stage': payload.stage[0],
	'policyNumber': payload.policyNumber[0],
	'guid': payload.guid[0],
	'letterID': payload.letterID[0],
	'finalStage': payload.finalStage[0],
	'capitaLetterID': payload.capitaLetterID[0],
	'customerName': payload.customerName[0]
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="61bca45e-554b-4426-8aa9-e0ef1b3cc917" message="In ChoiceDBFirst--InsertFirstAccount---LoggerAfterDatabase-------#[payload]"/>
	</flow>
	<flow name="UpdateFirstAccount" doc:id="8c2daf23-07f9-4491-858f-34fb05faf1ef" >
		<http:listener doc:name="Listener" doc:id="270f995a-2b79-4b1f-bad7-5b9885388bd7" config-ref="HTTP_Listener_config" path="/first/update"/>
		<logger level="INFO" doc:name="Logger" doc:id="54009746-70ab-4742-bbfe-81aee38daa58" message="In ChoiceDBSecond--UpdateFirstAccount---LoggerBeforeTransformation-------#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="fcca2bd7-3e2a-4004-b2d2-3e2059dc1241" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	guid: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.guid,
	date: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.date,
	stage: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.stage,
	finalStage: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.finalStage,
	capitaLetterID: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.capitaLetterID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="7074e6e9-4604-40bb-9a90-40296acb09bc" message="In ChoiceDBFirst--UpdateFirstAccount---LoggerBeforeDatabase-------#[payload]"/>
		<db:update doc:name="Update" doc:id="bc996135-66b0-4360-a3c0-cf65b69dda0a" config-ref="Database_Config">
			<db:sql >update doctb set stage=:stage where guid=:guid</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{	
	'stage': payload.stage[0],
	'guid': payload.guid[0]	
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="cd306115-9696-4713-8dac-6d32b9f41b07" message="In ChoiceDBFirst--UpdateFirstAccount---LoggerAfterDatabase-------#[payload]"/>
	</flow>
</mule>
