Document_Logging_Consumption_V2_SubModuleDB2/src/main/mule/choicedbsecond.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<db:config name="Database_Config" doc:name="Database Config" doc:id="b0b93fe3-ef39-4cf7-9572-d797bd96e822" >
		<db:mssql-connection host="dbs-poc-euw-mspoc002.database.windows.net" user="mspoc002" databaseName="db_poc_euw_mspoc4" password="qInmyp7h"/>
	</db:config>
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22ca5126-72f2-4492-b2f0-552b45a8fb07" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="InsertSecondAccount" doc:id="fddcec19-b8b1-4cad-a467-b384094c43f9" >
		<http:listener doc:name="Listener" doc:id="4a59e002-93ca-435c-95bd-28bd71293879" config-ref="HTTP_Listener_config" path="/second/insert"/>
		<logger level="INFO" doc:name="Logger" doc:id="91c2a518-d255-416f-a368-537efbf74822" message="In ChoiceDBSecond--InsertSecondAccount---LoggerBeforeTransformation-------#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b61aeddc-f526-47e6-9aa8-df4521decb6f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	companyCode: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.companyCode,
	guid: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.guid,
	date: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.date,
	stage: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.stage,
	finalStage: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.finalStage,
	letterID: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.letterID,
	capitaLetterID: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.capitaLetterID,
	policyNumber: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.policyNumber,
	customerName: payload.SoapEnv.Body.insertLogRequest.insertLogRequestList.insertLogRequestItem.customerName
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="dce8374c-076d-4660-85e9-9e43d287ba14" message="In ChoiceDBSecond--InsertSecondAccount---LoggerBeforeDatabase-------#[payload]"/>
		<db:insert doc:name="Insert" doc:id="242e6635-c5db-4054-a067-149a63433009" config-ref="Database_Config">
			<db:sql >INSERT INTO doctb
VALUES (:companyCode,:guid,:date,:stage,:finalStage,:letterID,:capitaLetterID,:policyNumber,:customerName)</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{
	'companyCode': payload.companyCode[0],
	'date': payload.date[0],
	'stage': payload.stage[0],
	'policyNumber': payload.policyNumber[0],
	'guid': payload.guid[0],
	'letterID': payload.letterID[0],
	'finalStage': payload.finalStage[0],
	'capitaLetterID': payload.capitaLetterID[0],
	'customerName': payload.customerName[0]
}]]]></db:input-parameters>
		</db:insert>
		<logger level="INFO" doc:name="Logger" doc:id="991e552f-a090-4b13-80b4-ead836bae99a" message="In ChoiceDBSecond--InsertSecondAccount---LoggerAfterDatabase-------#[payload]"/>
	</flow>
	<flow name="UpdateSecondAccount" doc:id="1aa59cbb-8e99-48c6-a585-80bc1c21740e" >
		<http:listener doc:name="Listener" doc:id="28b5b260-89f4-4304-9352-3731cf19d946" config-ref="HTTP_Listener_config" path="/second/update"/>
		<logger level="INFO" doc:name="Logger" doc:id="ac55462f-2cb0-4cf0-b31f-85b808abd4be" message="In ChoiceDBSecond--UpdateSecondAccount---LoggerBeforeTransformation-------#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="f8e8318a-99ec-4a8e-b142-dc6fde12e818" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	guid: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.guid,
	date: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.date,
	stage: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.stage,
	finalStage: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.finalStage,
	capitaLetterID: payload.SoapEnv.Body.updateLogRequest.updateLogRequestList.updateLogRequestItem.capitaLetterID
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="8697ed92-8d42-4c8a-89e2-b9aeca0dec4e" message="In ChoiceDBSecond--UpdateSecondAccount---LoggerBeforeDatabase-------#[payload]"/>
		<db:update doc:name="Update" doc:id="99ca3b93-e004-48fc-a90d-d85cacad62f4" config-ref="Database_Config">
			<db:sql >update doctb set stage=:stage where guid=:guid</db:sql>
			<db:input-parameters ><![CDATA[#[%dw 2.0
output application/java
---
{	
	'stage': payload.stage[0],
	'guid': payload.guid[0]	
}]]]></db:input-parameters>
		</db:update>
		<logger level="INFO" doc:name="Logger" doc:id="b35dea3d-8ed0-4931-9973-2e690ec53841" message="In ChoiceDBSecond--UpdateSecondAccount---LoggerAfterDatabase-------#[payload]"/>
	</flow>
</mule>
